* {
  box-sizing: border-box;
}

span {
border: 1px solid black;
background-color: grey; 
width: 33%;

}

h3 {
  text-align: center;
}

#type1 {
  background-color: pink; 
  font-weight: bold;
  border: 1px solid black;
  padding: 2px;
  text-align: right;
}
#type2 {
  background-color: red; 
  color: white;
  font-weight: bold;
  border: 1px solid black;
  padding: 2px;
  text-align: right;

}
#type3 {
  background-color: rgb(218, 209, 132); 
  font-weight: bold;
  border: 1px solid black;
  padding: 2px;
  text-align: right;
}