* {
  box-sizing: border-box;
  font-family: "Times New Roman", "Times", "serif";
}

body {
  text-align: center;
}


div {
  border: 1px solid black;
  text-align:left;
  width: 30%;
  float: left;
  margin: 16px;
  padding: 25px 5px 5px 5px;
  position: relative;
}

span {
  border: 1px solid black;
  padding: 0px 5px 0px 5px;
  float: right;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
}

/*dish colors*/
#chicken {
  background-color: pink;
}

#beef {
  background-color: red;
  color: white;
}

#sushi {
  background-color: yellow;
}

#box1 {
  background-color: #deb887;
}

#box2 {
  background-color: #add8e6 ;;
}

#box3 {
  background-color: #90EE90;;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  div{
    padding: 25px 0px 5px 0px;
    margin: 0px 1% 30px 1%;
  }
  #box1{
    width: 48%;
  }
  #box2 {
    width: 48%;
  }
  #box3 {
    width: 98%;
  }
}

/*phone*/
@media (max-width: 767px) {
  div {
    width: 90%;
  }
}